<h1>Ramschema</h1>

<div class="schedule-container">
    <!-- If no courses are saved -->
    <p *ngIf="savedSchedule.length === 0">Det finns inga kurser i ditt ramschema än.</p>
    <!-- Message if schedule is cleared -->
    <div *ngIf="allCoursesCleared" class="removed-message">
        Ramschemat rensat.
    </div>
    <!-- If there are courses saved -->
    <div *ngIf="savedSchedule.length > 0">
        <!-- Display total points-->
        <p><strong>Totalt antal poäng:</strong> {{ getTotalPoints() }} hp</p>
        <!-- Message when a course is removed -->
        <div class="removed-message-wrapper">
            <div *ngIf="removedCourseName" class="removed-message">
                Kursen "{{ removedCourseName }}" togs bort från ramschemat.
            </div>
        </div>
        <!-- Saved courses table -->
        <div class="table-wrapper">
            <table class="schedule-table">
                <thead>
                    <tr>
                        <th>Kursnamn</th>
                        <th>Poäng</th>
                        <th>Ämne</th>
                        <th>Kursplan</th>
                        <th></th> <!-- For the remove button -->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let course of savedSchedule">
                        <td>{{ course.courseName }} ({{ course.courseCode }})</td>
                        <td>{{ course.points }} hp</td>
                        <td>{{ course.subject }}</td>
                        <td><a [href]="course.syllabus" target="_blank">Visa</a></td>
                        <td><button class="remove-btn" (click)="removeCourse(course.courseCode)">Radera</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- Button clear the schedule -->
        <div class="clear-btn-container"><button class="clear-btn" (click)="clearAllCourses()">Rensa ramschema</button>
        </div>
    </div>
</div>