<nav>
    <div class="nav-top">
        <a href="index.html">
            <img src="images/logotype.svg" alt="logotype" width="200" height="50">
        </a>
        <div class="hamburger-menu" (click)="toggleMenu()">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
    </div>
    <ul class="nav-links">
        <li><a routerLink="/home" routerLinkActive="active">Hem</a></li>
        <li><a routerLink="/courses" routerLinkActive="active">Kurser</a></li>
        <li><a routerLink="/schedule" routerLinkActive="active">Ramschema</a></li>
    </ul>
</nav>