/* navbar styling */
nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    background-color: var(--primary-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Logotype */
.nav-top img {
  height: 50px;
  margin: 0.5em 0 0 1em;
  padding: 0;
}

/* navbar link styling */
ul.nav-links {
    font-family: var(--font-body);
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 1em;
}

ul.nav-links li a {
    font-size: 1.2em;
    text-decoration: none;
    color: #ffffff;
    margin-right: 1em;
    transition: color 0.3s ease;
}

ul.nav-links li a:hover {
    color: var(--accent-color);
}

ul.nav-links li a.active {
    color: var(--accent-color);
    font-weight: bold;
}


/* hamburger icon styling */
.hamburger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
    z-index: 110;
}

.hamburger-menu .bar {
    background-color: #333;
    height: 4px;
    border-radius: 2px;
    transition: all 0.3s ease;
}

/* media query for screens smaller than 768px */
@media (max-width: 768px) {
    nav {
      flex-direction: column;
      align-items: flex-start;
    }

    .nav-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  
    .hamburger-menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      cursor: pointer;
      margin-right: 1em;
    }
  
    .hamburger-menu .bar {
      position: absolute;
      width: 100%;
      height: 3.5px;
      background-color: #fff;
      border-radius: 2px;
      transition: transform 0.3s ease, opacity 0.3s ease;
    }
  
    .bar:nth-child(1) {
      top: 0;
    }
  
    .bar:nth-child(2) {
      top: 8px;
    }
  
    .bar:nth-child(3) {
      top: 16px;
    }
  
    .hamburger-menu.active .bar:nth-child(1) {
      transform: rotate(45deg);
      top: 8px;
    }
  
    .hamburger-menu.active .bar:nth-child(2) {
      opacity: 0;
    }
  
    .hamburger-menu.active .bar:nth-child(3) {
      transform: rotate(-45deg);
      top: 8px;
    }
  
    ul.nav-links {
      display: none;
      flex-direction: column;
      width: 100%;
      background-color: var(--primary-color);
      padding: 1em;
      margin-top: 1em;
      gap: 1.8em;
    }
  
    ul.nav-links.active {
      display: flex;
      align-items: center;
    }
  }