<div class="table-container-DELETE">
    <h2>Courses</h2>
    <!-- Course Table -->
    <table id="course-table">
        <thead>
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Progression</th>
            </tr>
        </thead>
        <tbody *ngFor="let course of courses">
            <td>{{ course.courseCode }}</td>
            <td>{{ course.courseName }}</td>
            <td>{{ course.points }}</td>
            <td>{{ course.subject }}</td>
            <td><a href="{{ course.syllabus }}" target="_blank">Kursplan</a></td>
        </tbody>
    </table>
</div>