/* Hero section styling */
.hero-section {
    position: relative;
    text-align: center;
}

.hero-section img {
    width: 100%;
    height: auto;
}

.hero-text {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    font-family: var(--font-heading);
}

.hero-text h1 {
    font-size: 4.3em;
    margin: 0.6em 0 0 0;
    padding: 0;
    text-wrap: nowrap;
}

.hero-text p {
    font-size: 2em;
    margin: 0;
    padding: 0;
    font-style: italic;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    color: #fff;
}

/* Info section styling */
.info-section {
    margin: 0 auto;
    padding: 3em 2em;
    text-align: center;
    max-width: 800px;
    line-height: 1.8;
}

.info-section h2 {
    font-size: 2.5em;
}

.info-section p {
    font-size: 1.2em;
}

.info-text {
    text-align: left;
}

/* Divider image */
.divider-img img {
    width: 100%;
    height: auto;
}

/* Course page button */
.cta-btn {
    display: inline-block;
    font-size: 1.1em;
    text-transform: uppercase;
    margin-top: 1em;
    padding: 0.4em 2em;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s ease;
}

.cta-btn:hover {
    background-color: var(--hover-color);
}

/* Media query for screens smaller than 1000px */
@media (max-width: 1000px) {

    .hero-text h1 {
        font-size: 3em;
    }

    .hero-text p {
        font-size: 1.4em;
    }

    .info-section h2 {
        font-size: 2em;
    }
}

/* Media query for screens smaller than 768px */
@media (max-width: 768px) {

    .hero-text h1 {
        font-size: 2.2em;
    }

    .hero-text p {
        font-size: 1em;
    }

    .info-section h2 {
        font-size: 1.8em;
    }

    .info-section p {
        font-size: 1.1em;
    }

    .cta-btn {
        font-size: 1em;
        padding: 0.3em 1.8em;
    }
}