<section class="hero-section">
    <!-- Hero image-->
    <picture>
        <!-- Source for small screens (under 768px) -->
        <source srcset="images/hero-image-mobile.png" media="(max-width: 767px)">
        
        <!-- Default image for larger screens -->
        <img src="images/hero-image.png" alt="University building" width="1920" height="850">
      </picture>
    <!-- Hero text -->
    <div class="hero-text">
        <h1>Ralugna Universitet</h1>
        <p>Din väg till nya möjligheter</p>
    </div>
</section>
<section class="info-section">
    <h2>Utforska Kurser</h2>
    <p>Från --- till ---, upptäckt vårt breda kurssortiment.</p>
    <a routerLink="/courses" class="cta-btn">Kurser</a>
</section>
<section class="divider-img">
<img src="images/divider.jpg" alt="Outside of university building" width="1920" height="550">
</section>