<section class="hero-section">
    <!-- Hero image-->
    <img src="images/hero-image.png" alt="University building" width="1920" height="850">
    <!-- Hero text -->
    <div class="hero-text">
        <h1>Ralugna Universitet</h1>
        <p>Din väg till nya möjligheter</p>
    </div>
</section>
<section class="info-section">
    <h2>Utforska Kurser</h2>
    <p>Från --- till ---, upptäckt vårt breda kurssortiment.</p>
    <a routerLink="/courses" class="cta-btn">Kurser</a>
</section>
<section class="divider-img">

</section>