<h1>Kurser</h1>

<div class="courses-container">

  <!-- Search bar -->
  <div class="filter-bar">
    <label for="filter">Sök:</label>
    <input type="text" id="filter" [(ngModel)]="filteredValue" (input)="applyFilter()" />
  </div>
  <div class="dropdowns">
    <!-- Dropdown to display courses by subject-->
    <select [(ngModel)]="selectedSubject" (change)="applyFilter()">
      <option value="">Alla ämnen</option>
      <option *ngFor="let subject of allSubjects" [value]="subject">{{ subject }}</option>
    </select>
    <!-- Dropdown to sort by code, name, points and subjects -->
    <select id="sort-select" [(ngModel)]="selectedSort" (change)="applyFilter()">
      <option value="">Ingen sortering</option>
      <option value="courseCode">Kurskod</option>
      <option value="courseName">Kursnamn</option>
      <option value="points">Poäng</option>
      <option value="subject">Ämne</option>
    </select>
  </div>

  <!-- Number of courses -->
  <p class="course-number" *ngIf="filteredCourses.length > 0">{{ filteredCourses.length }} kurser hittades.</p>

  <!-- Message if there are no courses -->
  @if (filteredCourses.length === 0) {
  <p class="no-courses">Inga kurser att visa.</p>
  }
  <!-- Display courses-->
  <div class="course-list" *ngIf="filteredCourses.length > 0">
    <div class="course-card" *ngFor="let course of paginatedCourses">
      <div class="course-header">
        <h2>
          {{ course.courseName }}
          <span class="course-code">({{ course.courseCode }})</span>
        </h2>
        <span class="points">{{ course.points }} hp</span>
      </div>
      <p><strong>Ämne:</strong> {{ course.subject }}</p>
      <div class="course-actions">
        <a [href]="course.syllabus" target="_blank">Visa kursplan</a>
        <div class="btn-message-container">
          <button class="add-btn" (click)="addCourseToSchedule(course)" [disabled]="isCourseAdded(course.courseCode)">
            {{ isCourseAdded(course.courseCode) ? 'Redan tillagd' : 'Lägg till kurs' }}</button>
          <a class="remove-course" (click)="removeCourse(course.courseCode)" *ngIf="isCourseAdded(course.courseCode)">
            Ta bort
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Site pagination -->
<div class="pagination-controls" *ngIf="filteredCourses.length > itemsPerPage">
  <button (click)="prevPage()" [disabled]="currentPage === 1">Föregående</button>
  <span>Sida {{ currentPage }} av {{ totalPages }}</span>
  <button (click)="nextPage()" [disabled]="currentPage === totalPages">Nästa</button>
</div>