/* Color Scheme */
:root {
    --primary-color: #1D3557;
    --accent-color: #FF7A4B;
    --hover-color: #E66C42;
    --text-color: #2D2D2D;
    --font-heading: 'Merriweather', serif;
    --font-body: 'Source Sans Pro', sans-serif;
  }

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-body);
}

/* Place footer at bottom */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

h1 {
  font-family: var(--font-heading);
  font-size: 2.6em;
  color: var(--primary-color);
  text-align: center;
  margin-top: 1em;
}

h2 {
  font-family: var(--font-heading);
}