/* Color Scheme */
:root {
    --primary-color: #1D3557;
    --accent-color: #FF7A4B;
    --hover-color: #e85c50;
    --text-color: #2D2D2D;
    --font-heading: 'Merriweather', serif;
    --font-body: 'Source Sans Pro', sans-serif;
  }

body {
    margin: 0;
    padding: 0;
}